.container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  align-items: center;
}

.content {
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  min-width: 400px;
}

@media (max-width: 400px) {
  .content {
    min-width: initial;
  }
}
