{% extends 'application.html' %}

{% block app_content %}
<div class="container">
  <div class="content">
    <div class="subtitle">
      <div>
        <a class="me-4" href="{{ url_for('dashboard') }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="back-button ionicon" viewBox="0 0 512 512">
            <title>Arrow Back</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M244 400L100 256l144-144M120 256h292" />
          </svg>
        </a>
        <h2>TRANSPORTES</h2>
      </div>
      <a class="me-4 btn btn-primary" href="{{ url_for('register_ride') }}">
        ADICIONAR
      </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Passageiro</th>
          <th scope="col">Data/Horário</th>
          <th scope="col">Distância (Km)</th>
          <th scope="col">Preço</th>
        </tr>
      </thead>
      <tbody>
        {% for ride in rides_list %}
        <tr>
          <th scope="row">{{ ride.vehicle_plate }}</th>
          <td>{{ '{}.{}.{}-{}'.format(ride.passenger_cpf[:3], ride.passenger_cpf[3:6], ride.passenger_cpf[6:9],
            ride.passenger_cpf[9:]) }}</td>
          <td>{{ ride.date_time.strftime('%d-%m-%Y %H:%M') }}</td>
          <td>{{ ride.distance }}</td>
          <td>R$ {{ ride.price / 100 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}