{% extends 'application.html' %}

{% block inner_stylesheet %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block app_content %}
<div class="container">
  <div class="content">
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="/passenger">PASSAGEIROS</a>
      <a class="btn btn-primary" href="/driver">MOTORISTAS</a>
      <a class="btn btn-primary" href="/vehicle">VEÍCULOS</a>
      <a class="btn btn-primary" href="/transportation">TRANSPORTES</a>
      <a class="btn btn-primary" href="/report">RELATÓRIO FINANCEIRO</a>
    </div>
  </div>
</div>
{% endblock %}