{% extends 'application.html' %}

{% block inner_stylesheet %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}

{% block app_content %}
<div class="container">
  <div class="content">
    <div class="d-grid gap-2">
      <a class="btn btn-primary" href="{{ url_for('list_drivers') }}">MOTORISTAS</a>
      <a class="btn btn-primary" href="{{ url_for('list_passengers') }}">PASSAGEIROS</a>
      <a class="btn btn-primary" href="{{ url_for('list_vehicles') }}">VEÍCULOS</a>
      <a class="btn btn-primary" href="{{ url_for('list_drivers') }}">TRANSPORTES</a>
      <a class="btn btn-primary" href="{{ url_for('list_drivers') }}">RELATÓRIO FINANCEIRO</a>
    </div>
  </div>
</div>
{% endblock %}