{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/forms.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h2 class="text-center mb-4">LOGIN</h2>
    {% if authentication_error %}
    <div class="alert alert-danger">Combinação Usuário/Senha inválida</div>
    {% endif %}
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="form-floating mb-3">
        {{ form.username(class="form-control", placeholder="Nome de Usuário") }}
        <label for="username">Nome de Usuário</label>
        {% if form.errors.username %}
        <ul>
          {% for e in form.errors.username %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating">
        {{ form.password(class="form-control", placeholder="Senha") }}
        <label for="password">Senha</label>
        {% if form.errors.password %}
        <ul>
          {% for e in form.errors.password %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <p class="text-end small mt-2"><a href="{{ url_for('register') }}">Registrar</a></p>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">LOGIN</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}