{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="../static/css/forms.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <h2 class="text-center mb-4">REGISTRO</h2>
    {% if username_taken %}
    <div class="alert alert-danger">Username não disponível</div>
    {% endif %}
    {% if cpf_exists %}
    <div class="alert alert-danger">CPF já cadastrado</div>
    {% endif %}
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="form-floating mb-3">
        {{ form.cpf(class="form-control", placeholder="CPF") }}
        <label for="cpf">CPF</label>
        {% if form.errors.cpf %}
        <ul>
          {% for e in form.errors.cpf %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.name(class="form-control", placeholder="Nome") }}
        <label for="name">Nome</label>
        {% if form.errors.name %}
        <ul>
          {% for e in form.errors.name %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.birth_date(class="form-control", placeholder="Data de Nascimento (DD/MM/AAAA)") }}
        <label for="birth_date">Data de Nascimento</label>
        {% if form.errors.birth_date %}
        <ul>
          {% for e in form.errors.birth_date %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.address(class="form-control", placeholder="Endereço") }}
        <label for="address">Endereço</label>
        {% if form.errors.address %}
        <ul>
          {% for e in form.errors.address %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.username(class="form-control", placeholder="Username") }}
        <label for="username">Username</label>
        {% if form.errors.username %}
        <ul>
          {% for e in form.errors.username %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating">
        {{ form.password(class="form-control", placeholder="Password") }}
        <label for="password">Password</label>
        {% if form.errors.password %}
        <ul>
          {% for e in form.errors.password %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <p class="text-end small mt-2"><a href="{{ url_for('login') }}">Login</a></p>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">REGISTRAR</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}