{% extends 'application.html' %}

{% block app_content %}
<div class="container">
  <div class="content">
    <div class="subtitle">
      <div>
        <a class="me-4" href="{{ url_for('dashboard') }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon-button ionicon" viewBox="0 0 512 512">
            <title>Arrow Back</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M244 400L100 256l144-144M120 256h292" />
          </svg>
        </a>
        <h2>VEÍCULOS</h2>
      </div>
      <a class="me-4 btn btn-primary" href="{{ url_for('register_vehicle') }}">
        ADICIONAR
      </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Placa</th>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Ano</th>
          <th scope="col">Capacidade</th>
          <th scope="col">Motorista</th>
        </tr>
      </thead>
      <tbody>
        {% for vehicle in vehicles_list %}
        <tr>
          <th scope="row">{{ vehicle.plate }}</th>
          <td>{{ vehicle.type }}</td>
          <td>{{ vehicle.car_make }}</td>
          <td>{{ vehicle.model }}</td>
          <td>{{ vehicle.year }}</td>
          <td>{{ vehicle.passenger_capacity }}</td>
          <td>{{ '{}.{}.{}-{}'.format(vehicle.driver_cpf[:3], vehicle.driver_cpf[3:6], vehicle.driver_cpf[6:9],
            vehicle.driver_cpf[9:]) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}