{% extends 'application.html' %}

{% block inner_stylesheet %}
<link rel="stylesheet" href="../static/css/forms.css">
{% endblock %}

{% block app_content %}
<div class="container">
  <div class="content">
    <div class="subtitle">
      <div>
        <a class="me-4" href="{{ url_for('list_vehicles') }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="back-button ionicon" viewBox="0 0 512 512">
            <title>Arrow Back</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
              d="M244 400L100 256l144-144M120 256h292" />
          </svg>
        </a>
        <h2>CADASTRO DE VEÍCULO</h2>
      </div>
    </div>
    {% if plate_exists %}
    <div class="alert alert-danger">Placa já cadastrada</div>
    {% endif %}
    {% if cpf_invalid %}
    <div class="alert alert-danger">Não há motorista com o CPF informado</div>
    {% endif %}
    <form action="" method="POST">
      {{ form.csrf_token }}
      <div class="form-floating mb-3">
        {{ form.plate(class="form-control", placeholder="Placa") }}
        <label for="plate">Placa</label>
        {% if form.errors.plate %}
        <ul>
          {% for e in form.errors.plate %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.type(class="form-select", placeholder="Tipo") }}
        <label for="type">Tipo</label>
        {% if form.errors.type %}
        <ul>
          {% for e in form.errors.type %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.car_make(class="form-control", placeholder="Marca") }}
        <label for="car_make">Marca</label>
        {% if form.errors.car_make %}
        <ul>
          {% for e in form.errors.car_make %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.model(class="form-control", placeholder="Modelo") }}
        <label for="model">Modelo</label>
        {% if form.errors.model %}
        <ul>
          {% for e in form.errors.model %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.year(class="form-control", placeholder="Ano") }}
        <label for="year">Ano</label>
        {% if form.errors.year %}
        <ul>
          {% for e in form.errors.year %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.passenger_capacity(class="form-control", placeholder="Capacidade de Passageiros") }}
        <label for="passenger_capacity">Capacidade de Passageiros</label>
        {% if form.errors.passenger_capacity %}
        <ul>
          {% for e in form.errors.passenger_capacity %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-floating mb-3">
        {{ form.driver_cpf(class="form-control", placeholder="Ano") }}
        <label for="driver_cpf">CPF do Motorista</label>
        {% if form.errors.driver_cpf %}
        <ul>
          {% for e in form.errors.driver_cpf %}
          <li class="small text-danger mt-1">{{ e }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary" onclick="this.form.submit()">CADASTRAR</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}